<footer>
    <div class="container">
        <p>&copy; 2021 Onatrix. All Rights Reserved.</p>
        <p>
            <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a>
        </p>
    </div>
</footer>