@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}



<div class="top-bar">
    <div class="container">
        <div class="top-bar-left">
            <span><i class="fas fa-map-marker-alt"></i> Klarabergsviadukten 90, 111 64 Stockholm</span>
        </div>
        <div class="top-bar-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>

<header>
    <div class="container">
        <a href="/" class="logo">Onatrix</a>
        <nav>
       

            @if (selection?.Length > 0)
            {
                <ul calss="flex items-center gap-16">
                    @foreach (var item in selection)
                    {
                        <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
                            <a class="font-bold text-primary hover: text-gray-700 transition-colors" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        </li>
                    }
                </ul>
            }


        </nav>
        <div class="header-right">
            <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
</header>