<?xml version="1.0" encoding="utf-8"?>
<Media Key="8db8c627-0e8c-425f-b539-2025e783fc24" Alias="02.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T21:30:13</CreateDate>
    <NodeName Default="02.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vagp2o5f/02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>