<?xml version="1.0" encoding="utf-8"?>
<Media Key="163c3204-01ef-41eb-8116-6bfd8baf6073" Alias="05.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T21:30:54</CreateDate>
    <NodeName Default="05.png" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rp2hvieg/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>