<?xml version="1.0" encoding="utf-8"?>
<Media Key="374a753c-65e2-4f3d-bb4d-6d31125a6970" Alias="image-23-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image23Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T20:15:24</CreateDate>
    <NodeName Default="image-23-min 1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wo5bzaml/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>