<?xml version="1.0" encoding="utf-8"?>
<Media Key="d46d077c-a9cf-43e8-86de-f66e6a8e4f37" Alias="image-106 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T22:04:30</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4pgdwyvg/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>