<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b51ea2e-8160-431f-8171-2b8a680ca60a" Alias="image-22-min 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image22Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T20:14:43</CreateDate>
    <NodeName Default="image-22-min 1.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ueqbpxij/image-22-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>