<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9929bfc-8619-408f-bfb7-d4b21c17c1d9" Alias="image-104 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T22:04:49</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oninix1q/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>