<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f74d685-fd11-454f-a20e-92034e82c592" Alias="Why choose us.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhyChooseUspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T20:24:23</CreateDate>
    <NodeName Default="Why choose us.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/biodfwly/why-choose-us.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>