<?xml version="1.0" encoding="utf-8"?>
<Content Key="e95373da-cdb4-4c76-8a18-7dc08b0bdf8f" Alias="About" Level="2">
  <Info>
    <Parent Key="29b0e0d1-a988-4647-8891-964de069a75d">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-15T20:59:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f6ea6c4-b542-4f3c-893f-cd7a4b0c6fab">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a452af89-0f9a-4631-bf37-2261cb1b47c2",
      "key": "a3b4093f-a019-4518-9910-bef807e12a71",
      "udi": null,
      "values": [
        {
          "alias": "teamLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cstrong\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7acd7671-7760-48c2-bc6f-f695bcce606b",
                "key": "45d036e4-3349-44e7-a6d5-1e3b7cb9cdcb",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bfe161a1-4fae-4771-a306-39928938dd72",
                        "mediaKey": "241702c0-7240-4908-a93c-8182b8faf3a6",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7acd7671-7760-48c2-bc6f-f695bcce606b",
                "key": "053ce697-37d6-48d2-9c9b-1d86b01ba9ee",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6296ddf0-dbcc-4c94-9dee-245022f22768",
                        "mediaKey": "d46d077c-a9cf-43e8-86de-f66e6a8e4f37",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "7acd7671-7760-48c2-bc6f-f695bcce606b",
                "key": "18e3212d-5e9a-42d5-81e0-9a5126d4f7cd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2f9108fa-a756-4075-bed6-3638d310d046",
                        "mediaKey": "e9929bfc-8619-408f-bfb7-d4b21c17c1d9",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "45d036e4-3349-44e7-a6d5-1e3b7cb9cdcb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "053ce697-37d6-48d2-9c9b-1d86b01ba9ee",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "18e3212d-5e9a-42d5-81e0-9a5126d4f7cd",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "45d036e4-3349-44e7-a6d5-1e3b7cb9cdcb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "053ce697-37d6-48d2-9c9b-1d86b01ba9ee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "18e3212d-5e9a-42d5-81e0-9a5126d4f7cd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a3b4093f-a019-4518-9910-bef807e12a71",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a3b4093f-a019-4518-9910-bef807e12a71",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>