<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b97dbea-fb00-4746-976e-6ad7f55b6ded" Alias="Contact" Level="2">
  <Info>
    <Parent Key="29b0e0d1-a988-4647-8891-964de069a75d">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-15T16:04:55</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27ac1dba-73be-406e-9bde-b795fbfa4a15">ContactPage</Template>
  </Info>
  <Properties />
</Content>