<?xml version="1.0" encoding="utf-8"?>
<Content Key="215b2166-caaa-445c-90f0-8aff45460989" Alias="Services" Level="2">
  <Info>
    <Parent Key="29b0e0d1-a988-4647-8891-964de069a75d">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-15T20:02:01</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="93f9e0a8-c469-49dc-9e0b-e60b38ffb38b">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6a5ed74c-d2eb-4950-b91d-9b0b0ede973c",
      "key": "294b2d96-0ce5-451c-a195-ef0aae588f28",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "05dc21bf-cb6b-41b1-ace8-43dab3f00d33",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a87b2f2c-d43b-4359-abc4-9811b6a0b5fb",
                        "mediaKey": "c11e8d4e-fa38-4bbe-8fc8-d1505fd7b470",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  }
                ]
              },
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "62ef3277-49f9-4eeb-a0d7-4b7ef451843f",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6e314263-cd91-4b69-8de9-270a1f0845c6",
                        "mediaKey": "933eeda6-9041-4638-b4f6-c640acd89cfb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "d3f5cb6e-6bf6-43e8-a98e-d807e810c922",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a2bd81a9-9ff1-47bd-84b2-4cfdb1d36a8f",
                        "mediaKey": "b91e40e4-3a2e-4369-9d0c-bf98b8d892fa",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "b19e8339-2cd8-4dc4-8bc9-936ff443c8c5",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2b6acebb-b226-492d-b94a-e680317c2e1d",
                        "mediaKey": "6b51ea2e-8160-431f-8171-2b8a680ca60a",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "a6f2aedb-8113-46d1-a556-b32b6c097188",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8615ad85-3684-4ea7-aeb5-c670f5238312",
                        "mediaKey": "374a753c-65e2-4f3d-bb4d-6d31125a6970",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
                "key": "762f6342-817b-41fe-a768-f0e33944afb7",
                "udi": null,
                "values": [
                  {
                    "alias": "serviceTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "serviceText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
                  },
                  {
                    "alias": "serviceImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7cba9797-46a7-4326-b8dd-7c2fa6c5c81f",
                        "mediaKey": "b41f5d83-53d0-4eaa-976b-b072ebadcb62",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "05dc21bf-cb6b-41b1-ace8-43dab3f00d33",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "62ef3277-49f9-4eeb-a0d7-4b7ef451843f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d3f5cb6e-6bf6-43e8-a98e-d807e810c922",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b19e8339-2cd8-4dc4-8bc9-936ff443c8c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a6f2aedb-8113-46d1-a556-b32b6c097188",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "762f6342-817b-41fe-a768-f0e33944afb7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "05dc21bf-cb6b-41b1-ace8-43dab3f00d33",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "62ef3277-49f9-4eeb-a0d7-4b7ef451843f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d3f5cb6e-6bf6-43e8-a98e-d807e810c922",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b19e8339-2cd8-4dc4-8bc9-936ff443c8c5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a6f2aedb-8113-46d1-a556-b32b6c097188",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "762f6342-817b-41fe-a768-f0e33944afb7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9ce2c7b3-71f0-4ec1-ba35-1410167e8b9b",
      "key": "1bc2f297-ec8d-4281-8f23-5bdc872e292d",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "294b2d96-0ce5-451c-a195-ef0aae588f28",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "294b2d96-0ce5-451c-a195-ef0aae588f28",
        "contentUdi": null,
        "settingsKey": "1bc2f297-ec8d-4281-8f23-5bdc872e292d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>