@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ClientsSection)Model.Content;
}

<section class="clients">
    <div class="container">

        @Html.GetBlockListHtml(content.ClientList)

    </div>
</section>

