@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.Service)Model.Content;
}

<div class="service-card">
    <img src="@content.ServiceImage.Url()" alt="Risk Management">
    <div class="service-card-content">
        <h3>@content.ServiceTitle</h3>
        <p>@content.ServiceText</p>
    </div>
</div>