@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>
@{
	Layout = "mainLayout.cshtml";
}


<section class="page-header">
    <div class="container">
        <h1>Contact Us</h1>
        <p>Home / Contact</p>
    </div>
</section>

<section class="contact-cta-page w-[100%]">
    <div class="container  border border-1 b0rder-black">
        
        <div class="contact-cta-content">
            <h2>Let us know about<br>your next project</h2>
            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <div>
                        <h4>Office location</h4><a href="d:\users\yzn2\downloads\umbracocms (1).zip1\umbracocms\umbracocms\views\contactpage.cshtml">d:\users\yzn2\downloads\umbracocms (1).zip1\umbracocms\umbracocms\views\contactpage.cshtml</a>
                        <p>Lindhagensgatan 90, 11 2 51 Stockholm</p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <div>
                        <h4>Phone number</h4>
                        <p>+46 8 123 456 77</p>
                    </div>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <div>
                        <h4>E-mail address</h4>
                        <p>info@example.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>