<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3915b9f-e067-4856-b2d3-86e19bbb2040" Alias="Client List " Level="1">
  <Info>
    <Name>Client List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b2fb3cbb-ffb8-48a1-9e94-11411266736c",
      "label": "Client List"
    }
  ]
}]]></Config>
</DataType>