<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb21e2a0-9015-4760-8f83-de97c2373621" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2263d11d-d384-4d3e-9415-3817cc1ccda9"
    },
    {
      "contentElementTypeKey": "6a5ed74c-d2eb-4950-b91d-9b0b0ede973c",
      "settingsElementTypeKey": "9ce2c7b3-71f0-4ec1-ba35-1410167e8b9b"
    },
    {
      "contentElementTypeKey": "a452af89-0f9a-4631-bf37-2261cb1b47c2"
    },
    {
      "contentElementTypeKey": "91f08937-c4a1-469f-9de6-1455fbc716cf",
      "label": "About Us"
    },
    {
      "contentElementTypeKey": "41713e69-57ad-498c-a697-2deb4872c613",
      "label": "Why Us"
    },
    {
      "contentElementTypeKey": "2917a351-73c3-4f36-adc5-8fc3f098ceda",
      "label": "Success story"
    },
    {
      "contentElementTypeKey": "7fa587ad-7059-48d6-a842-ca64ea0e8f07",
      "label": "Clients Section"
    }
  ]
}]]></Config>
</DataType>