<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc6062d5-6002-47aa-8625-84c22fd5dd93" Alias="Service List" Level="1">
  <Info>
    <Name>Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "86a8b999-f4fd-41a7-a639-4df978243149",
      "label": "Service List"
    }
  ]
}]]></Config>
</DataType>