<?xml version="1.0" encoding="utf-8"?>
<DataType Key="153deb9f-9544-4f50-930f-edfe9c98c817" Alias="Success Item List" Level="1">
  <Info>
    <Name>Success Item List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "validationLimit": {
    "min": 1,
    "max": 10
  }
}]]></Config>
</DataType>