<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2df1682f-d685-4059-8acf-a357736efc83" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7acd7671-7760-48c2-bc6f-f695bcce606b",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>